/* src/styles/Signup.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background: linear-gradient(to bottom right, #8e44ad, #e84393, #ff6b6b); */
  height: 100vh;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-card {
  background-color: white;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 90%;
  max-width: 420px;
}

.logo {
  font-size: 36px;
  color: #ff416c;
  margin-bottom: 10px;
  font-weight: bold;
}

.loginLink{
  color: #ff416c;
  font-weight: 700;
}
.tagline {
  color: #666;
  margin-bottom: 30px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  padding: 12px 16px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: border 0.3s ease;
}

.input-field:focus {
  border-color: #ff416c;
}

.signup-button {
  background-color: #ff416c;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.signup-button:hover {
  background-color: #ff2a54;
}

.login-text {
  margin-top: 20px;
  font-size: 14px;
}

.login-text a {
  color: #ff416c;
  text-decoration: none;
  font-weight: bold;
}

.login-text a:hover {
  text-decoration: underline;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
}
